#set($layout="velocity/layout/none.vm")
<div class="ibox-content">
    <form id="myForm" class="form-horizontal" autocomplete="off" data-validator-option="{theme:'default'}"
          style="margin: 1.5em">
        <div class="row">
            <div class="col-sm-6">
                原始密码:
                <input type="password" class="form-control" name="oldPassword" autocomplete="off"
                       data-rule="原始密码: required"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6">
                新密码:
                <input type="password" class="form-control" name="password" autocomplete="off"
                       data-rule="新密码: required;password;length(6~16)"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6">
                确认新密码:
                <input type="password" class="form-control" name="password2" autocomplete="off"
                       data-rule="新密码认证: required;match(password)"/>
            </div>
        </div>
        <div class="hr-line-dashed">&nbsp;</div>
        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary" type="submit">修改密码</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#myForm").validator({
        valid: function (form) {
            var me = this;
            // 提交表单之前，hold住表单，防止重复提交
            me.holdSubmit();
            $.ajax({
                url: "$!config.appUrl/changePassword.html",
                data: $(form).serialize(),
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    if(d.status == 'success'){
//                        window.parent.location.reload();
                        window.parent.layer.close(window.parent.layer.index);
//                        layer.msg('操作成功！', {icon: 1, time: 1000});
                        location.href = "account/logout";

                    } else if(d.status == 'faild'){
                        //$("input[name='oldPassword']").add("data_msg_required", "Original password error");
                        layer.msg(d.message, {icon: 2, time: 2000});
                        $("input[name='oldPassword']").focus();
                        me.holdSubmit(false);
                    }else {
                        //失败，提交表单成功后，释放hold，如果不释放hold，就变成了只能提交一次的表单
                        layer.msg('操作失败', {icon: 2, time: 2000});
                        me.holdSubmit(false);
                    }
                }
            });
        }
    });
</script>

